.THIS *{
    font-family:"Open Sans", sans-serif;
}
.THIS .Count:last-child{
    font-size: 217%;
    color: #008080;
    text-align: center;
    white-space : normal;
    width : 100%;
    display:inline-block;
}

.THIS .DateTime{
    font-family:"Open Sans", sans-serif;
    color:#999999;
    font-size:10px;
}

/*
.THIS.OuterClass{
    height:100%;
    width:100%;
}
*/

.THIS .columnClass{
    text-align:center;
}

.THIS .columnClass:last-child{
    border-left:2px solid #808080;
}

.THIS .uiButton.sendButton{
    background-color:#e87821;
    width:100%;
}

.THIS .uiButton.sendButton span{
	color:#ffffff;
    text-shadow:0px 0px 0px transparent;
}
.THIS .uiInputTextArea.smsTxtBoxClass{
}

.THIS .uiInputSelect.dropDownClass{
    width:100%;
}

.THIS .uiOutputText.MessageTitle:first-child{
    font-size: 120%;
    text-align: center;
    white-space: normal;
    font-weight:100;
}

.THIS .inboundMsg{
    text-align: left;
}

.THIS .outboundMsg uiOutputTextArea smagicinteractSmsInsightComponent{
    text-align: right;
}

.THIS.rowClass{
    padding-top: .100em;
    padding-bottom: .100em;
}

.THIS.tableClass{
    background-color: #ffffff;
    font-family:Open Sans;
    width:100%;
    border-collapse: separate;
  	border-spacing: 25px 0;
    max-height:20vh;
    padding:3px 0px;
}

.THIS.tableClass thead{
		padding:2px 0px;
}

.THIS.sendSMSWrapper{
    background-color: #dbeff1;
    padding:3px 0px;
}


.THIS.smsTableClass{
    font-family:Open Sans;
    width:100%;
    border-collapse:separate; 
    border-spacing: 20px 0;
    height:50vh;
    max-height:50vh;
    background-color: #dbeff1;
    padding:7px 0px;
}
.THIS.smsTableClass tr th{
    padding:3px 0px;
}
.THIS *, .THIS *:before, .THIS *:after {
  box-sizing: border-box;
}

.THIS.latestmessagesheader {
    background-color:#099ab2;
    color:#ffffff;
    font-weight:bold;
    padding:3px;
}

.THIS.container {
  margin: 0 auto;
  border-radius: 5px;
  font: 14px/20px "Lato", Arial, sans-serif;
  color: white;
}


.THIS .chat {
  width: 100%;
  float: left;
  background: #e6e6e6;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
}
.THIS .chat-header {
  padding: 20px;
  border-bottom: 2px solid white;
}
.THIS .img {
  float: left;
}
.THIS .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
.THIS .chat-with {
  font-weight: bold;
  font-size: 16px;
}
.THIS .chat-num-messages {
  color: #92959E;
}
.THIS .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 12px;
}
.THIS .chat-history {
  padding: 1px 1px 1px;
  overflow-y: scroll;
  overflow-x:hidden;  
  max-height: 27vh; 
  min-height: 27vh;
  position:relative;
  margin-right:2%;  
}
.THIS .chat-history:empty:before{
    content:attr(data-aura-rendered-placeholder);
    position:absolute;
    top:45%;
    color:#4d4d4d;
}
.THIS .message-data {
  margin-bottom: 1px;
}
.THIS .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.THIS .message {
  color: white;
  padding: 5px 5px;
  font-size: 12px;
  border-radius: 7px;
  margin-bottom: 10px;
  min-width: 30%;
  max-width: 70%;
  position: relative;
  display:inline-block;  
  border:none; 
  text-align:left;  
}
/*
.THIS .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86BB71;
  border-width: 5px;
  
}
.THIS .other-message:after{
    margin-left: -10px;
}*/
.THIS .my-message {
  background: #ffffff;
  color:#1a1a1a;  
  margin-right:25%;  
}
.THIS .other-message {
  background: #ffffff;
  color:#1a1a1a; 
  margin-left:25%;  
}
.THIS .other-message:after {
  border-bottom-color: #94C2ED;
  left: 93%;
}
.THIS .chat-message {
  padding: 3px;
}
.THIS textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  border-radius: 5px;
  resize: none;
}
.THIS .fa-file-o, .THIS .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}
.THIS button {
  float: right;
  color: #94C2ED;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #F2F5F8;
}
.THIS button:hover {
  color: #75b1e8;
}

.THIS .online, .THIS .offline, .THIS .me {
  margin-right: 3px;
  font-size: 10px;
}

.THIS .online {
  color: #86BB71;
}

.THIS .offline {
  color: #E38968;
}

.THIS .me {
  color: #94C2ED;
}

.THIS .align-left {
  text-align: left;
}

.THIS .align-right {
  text-align: right;
}

.THIS .float-right {
  float: right;
}

.THIS.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}